body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
  background-color: #111;
  color: white;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin-bottom: 20px;
}
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
